@import url("https://cdn.jsdelivr.net/npm/line-seed-jp/line-seed-jp.css");

:root {
  --white: #f4f4f4;
  --black: #242424;
}

body {
  font-family: "LINE Seed JP", sans-serif;
}

footer {
  display: none;
}
