---
import Card from "../components/Card.astro";
import "../styles/global.css";

type Slide = {
  frontmatter: { description: string };
  file: string;
  getHeadings: () => { text: string }[];
};
const files = Object.values(
  import.meta.glob("/src/slides/**/index.md", { eager: true }),
) satisfies Slide[];
const slides = files.reverse().map((slide) => {
  const path = slide.file.split("/src/slides/")[1].replace("index.md", "");
  return {
    title: slide.getHeadings()[0].text,
    description: slide.frontmatter.description,
    path: import.meta.env.DEV ? `http://localhost:8080/${path}` : path,
  };
});
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <link rel="icon" href="https://emoji.aranja.com/emojis/apple/1f3a6.png" />
    <title>Souma's Slides</title>
  </head>
  <body>
    <h1>Souma's Slides</h1>
    <main>
      {
        slides.map((slide) => (
          <Card
            title={slide.title}
            description={slide.description}
            path={slide.path}
          />
        ))
      }
    </main>
  </body>
</html>

<style>
  body {
    font-family: "LINE Seed JP", sans-serif;
    margin: 0 auto;
    padding: 2rem;
    max-width: 1200px;
    background: var(--background);
  }

  h1 {
    margin-top: 0;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
    gap: 2rem;
  }
</style>
