/*
 * Minimal and Dynamic Marp Theme
 * @theme minimal
 * @auto-scaling true
 */

@import "uncover";
@import "utils";
@import url("https://cdn.jsdelivr.net/npm/line-seed-jp/line-seed-jp.css");
@import url("https://cdn.jsdelivr.net/npm/firacode/distr/fira_code.css");

:root {
  color-scheme: light dark;
  --light: #f4f4f4;
  --dark: #242424;
  --color-foreground: light-dark(var(--dark), var(--light));
  --color-background: light-dark(var(--light), var(--dark));
  --color-background-code: light-dark(var(--light), var(--dark));
  --color-header: color-mix(in srgb, transparent 60%, var(--color-foreground));
  --color-header-shadow: transparent;
}

section {
  font-family: "LINE Seed JP", sans-serif;
  &::after {
    content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
  }
}

ul {
  width: fit-content;
}

code {
  font-family: "Fira Code", "HackGen35", monospace;
  filter: drop-shadow(
    0 3px 3px color-mix(in srgb, var(--color-background) 60%, black)
  );
}

blockquote {
  width: fit-content;
  margin: auto;
}

header,
footer {
  right: auto;
}
