/*
 * Minimal and Dynamic Marp Theme
 * @theme minimal
 * @auto-scaling true
 */

@import "uncover";
@import url("https://cdn.jsdelivr.net/npm/line-seed-jp/line-seed-jp.css");
@import url("https://cdn.jsdelivr.net/npm/firacode/distr/fira_code.css");

:root {
  color-scheme: light dark;
  --light: #f4f4f4;
  --dark: #242424;
  --color-foreground: light-dark(var(--dark), var(--light));
  --color-background: light-dark(var(--light), var(--dark));
  --color-background-code: light-dark(var(--light), var(--dark));
}

section {
  font-family: "LINE Seed JP", sans-serif;
}

ul {
  width: fit-content;
}

code {
  font-family: "Fira Code", "HackGen35", monospace;
  filter: drop-shadow(
    0 3px 3px color-mix(in srgb, var(--color-background) 60%, black)
  );
}

.column {
  display: flex;
  gap: 1rem;
}

.column > * {
  flex: 1;
}

.highlight {
  background: linear-gradient(transparent 85%, #eeee44 25%);
}
