/*
 * Minimal and Dynamic Marp Theme
 * @theme minimal
 * @auto-scaling true
 */

@import "uncover";
@import "utils";
@import url("https://cdn.jsdelivr.net/npm/line-seed-jp/line-seed-jp.css");
@import url("https://cdn.jsdelivr.net/npm/firacode/distr/fira_code.css");

:root {
  color-scheme: light dark;
  --light: #fbfbfb;
  --dark: #2a2a2a;
  --code-light: color-mix(in srgb, var(--light) 70%, white);
  --code-dark: color-mix(in srgb, var(--dark) 90%, black);
  --color-foreground: light-dark(var(--dark), var(--light));
  --color-background: light-dark(var(--light), var(--dark));
  --color-header: var(--color-foreground);
  --color-header-shadow: transparent;
  --color-background-paginate: transparent;
  --color-border-code: color-mix(
    in srgb,
    var(--color-foreground) 10%,
    var(--color-background)
  );
  --color-background-code: light-dark(var(--code-light), var(--code-dark));
}

section {
  font-family: "LINE Seed JP", sans-serif;
  &::after {
    content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
  }
}

section.invert {
  --color-foreground: light-dark(var(--light), var(--dark));
  --color-background: light-dark(var(--dark), var(--light));
  --color-background-code: light-dark(var(--code-dark), var(--code-light));
}

header,
footer {
  right: auto;
}

h1,
h2,
h3 {
  margin-bottom: 1em;
}

header,
h1,
h2,
h3 {
  img {
    height: auto;
    width: 1.5em;
    vertical-align: -0.3em;
  }
}

p:has(p, a),
li {
  img {
    height: auto;
    width: 1em;
    vertical-align: -0.1em;
  }
}

[data-bespoke-marp-fragment="inactive"] {
  visibility: visible;
  opacity: 0.1;
}

ol,
ul {
  width: fit-content;
}

li {
  ol,
  ul {
    margin-left: 0;
  }
}

pre {
  filter: none;
}

code {
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--color-border-code);
  font-family: "Fira Code", "HackGen35", monospace;
}

pre > code {
  padding: 1em 1.5em;
  border-radius: 0.5em;
  font-size: 0.85em;
}

:not(pre) > code {
  padding: 0.25em 0.375em;
  border-radius: 0.3em;
}

blockquote {
  width: fit-content;
  margin: auto;
}
