/*
 * Add Several Useful Classes
 * @theme utils
 * @auto-scaling true
 */

:root {
  --color-highlight-border: #eeee44;
}

.column {
  display: flex;
  gap: 1em;
  > * {
    flex: 1;
  }
}

.highlight {
  background: linear-gradient(
    transparent 85%,
    var(--color-highlight-border) 15%
  );
}
